<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，作用就是对sql进行分类话管理，理解成sql隔离-->
<mapper namespace="com.taotao.mapper.TestMapper">
    <select id="queryNow" resultType="java.lang.String">
        select now();
    </select>

</mapper>