<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置service-->
    <bean id="studentService" class="com.service.imp.StudentServiceImp">
        <property name="studentDao" ref="studentDao"> </property>
    </bean>

    <!--配置Dao-->
    <bean id="studentDao" class="com.dao.imp.StudentDaoImp">
        <property name="queryRunner" ref="runner"> </property>
    </bean>

    <!--配置runner-->
    <bean id="runner" class="org.apache.commons.dbutils.QueryRunner">
        <constructor-arg name="ds" ref="dataSource"> </constructor-arg>
    </bean>

    <!--配置C3p0连接池-->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"> </property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/jspusing"> </property>
        <property name="user" value="root"> </property>
        <property name="password" value="root"> </property>
    </bean>
</beans>